%form{:name => "new-toy", :id => "new-toy", :action => "", :method => "post"}
  .well
    .row
      .span3
        %label{:for => "name"} Name:
        %input{:type => "text", :id => "name", :name => "name"}
      .span3
        %label{:for => "material"} Material:
        %select{:id => "material", :name => "material"}
          %option= "DieCast"
          %option= "Plastic"
          %option= "Wood"
      .span1
        %label{:for => "talking"} Talking?
        %input{:type => "checkbox", :name => "talking", :id => "talking"}
      .span3
        %label{:for => "toy-size"} Size
        %select{:id => "toy-size", :name => "toy-size"}
          %option= "Normal"
          %option= "Oversized"
    .row
      .span6
        %button{:type => "submit", :class => "btn btn-primary", :id => "add-toy"} Add Toy


%table{:class => "table table-striped table-bordered table-hover"}
  %thead
    %th Name
    %th Material
    %th Talking?
    %th Size
    %th 
  - toys.each do |toy|
    %tr
      %td= toy[:name]
      %td= toy[:material]
      %td= toy[:talking]
      %td= toy[:size]
      %td{:class => "actions-td"}
        %button{:class => "delete-button btn", :id => "#{toy[:_id]}"}
          Delete
